<!DOCTYPE html>
<html lang="en">

<head>
  <!-- adding meta file -->
  <%- await include('components/meta.html')%>
  <title><%=product.name%></title>
</head>

<body>

  <!-- adding header file -->
  <%- await include('components/header.html')%>

<!--------------------------------------------------------------------------------------------------------------------------------->

<section class="section product-detail">
    <div class="details container">
      <div class="left">
        <div class="main">
          <img src="/images/<%=product.picture%>" alt="" />
        </div>
      </div>
      <div class="right">
        <span>Products/<%=product.type%></span>
        <h1><%=product.name%></h1>
        <div class="price"><%=product.price%>₪</div>
        <form action="/cart/add/<%=product.id%>" class="product-form">
            <div class="item">
                <label for="Quantity">Quantity:</label>
                <select name="count" id="Quantity">
                  <option value="1" selected="selected">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div><br>
              <button class="addToCart" style="vertical-align:middle"><span>Add to cart</span></button>
            </form>

        <form class="detailss">
            <h3>Product Detail</h3>
            <p>
                <%=product.description%>
            </p>
        </form>
        
      </div>
    </div>
  </section>

  <!------------------------------------------------------------------------------------------------------------------------------------->
  <!-- adding footer file -->  
  <%- await  include('components/footer.html') %>

</body>

</html>